<div>
  Click <a href="<%= @verification_link %>">here</a> to verify your email address.

  If that doesn't work for you, you can copy and paste the following link into your browser:

  <%= @verification_link %>
</div>
